body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

/* グループフィルターのスタイル */
#group-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* フィルターボタン */
.group-filter {
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.group-filter.active {
  opacity: 1;
}

.group-filter:not(.active) {
  background-color: #ddd !important;
  color: #666;
}

/* カレンダーとイベント詳細を表示するコンテナ */
#container {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

/* カレンダー領域 */
#calendar-container {
  flex: 4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* カレンダー本体 */
#calendar {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

/* イベント詳細パネル */
#event-details {
  width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* イベント画像 */
#event-image {
  align-self: center;
  width: 100%;
  height: auto;
  aspect-ratio: 475 / 310;
  object-fit: cover;
}

/* スマホ用レイアウト */
@media (max-width: 767px) {
  #container {
    flex-direction: column;
  }

  #calendar-container {
    width: 100%;
  }

  #event-details {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
  }
}
